
body{
	font-family: Arial, Helvetica, sans-serif;
}
/*
Version 1 - two columns 
h1 {
  text-align: center;
  color: red;
  font-size: 60px;
}

h2 {
		
  font-size: 60px;

}



section {

    column-count: 2;
	column-gap: 40px;
	column-rule-style: dotted;
    margin-bottom: 100px;
	column-fill: balance;
}

*/

/* Version 2 - one column and side bar*/



#main{
	margin-left: 32%;
	margin-right: 50px;
	padding: 0px 20px;
}

header {
	margin-left: 32%;
	padding: 0px 25px;
}

#sidebar {
	  height: 100%; /* Full-height: remove this if you want "auto" height */
	  width: 30%; /* Set the width of the sidebar */
	  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	  z-index: 1; /* Stay on top */
	  top: 0; /* Stay at the top */
	  left: 0;
	  background-color: #111; /* Black */
	  overflow-x: hidden; /* Disable horizontal scroll */
	  padding-top: 20px;
	  padding-left: 10px;
	  font-size: 25px;
	  color: white;
}

ul {
	list-style-type: none;
}
a {
	color: white;
	text-decoration: none;
	
}
li {
	margin-bottom: 30px;
}

h1 {
  color: red;
  font-size: 60px;
}


h2 {
		
  font-size: 50px;
  margin-bottom: 5px;
}

p {
	font-size: 20px;
}

.first:first-letter {
  font-size: 50px;
}

img{
	
max-width: 500px;
}